/* サムネイル(小) */
.thumbnail-s {
  /*padding: 2px 2px 2% 2%;*/
  padding: 0px 0px 0% 0%;
  /*border: 1px #000 dotted;*/
  border: 1px #000 double;  
  /*margin: 2px;*/
  margin: 0px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* タイル形式のサムネイル表示 */
img.thumbnail {
  width: auto;
  border: 1px #000 double;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* 画面サイズの横幅が374px以下の場合に適用 */
@media (max-width: 767px) {
  /* サムネイル(小) */
  img.thumbnail.tile-s {
    width: calc(100vw / 4 - 4px);
  }

  /* サムネイル(中) */
  img.thumbnail.tile-m {
    width: calc(100vw / 3 - 4px);
  }

  /* サムネイル(大) */
  img.thumbnail.tile-l {
    width: calc(100vw / 2 - 4px);
  }
}

/* 画面サイズの横幅が768px以上の場合に適用 */
@media (min-width: 768px) {
  /* サムネイル(小) */
  img.thumbnail.tile-s {
    width: calc(100vw / 5 - 4px);
  }

  /* サムネイル(中) */
  img.thumbnail.tile-m {
    width: calc(100vw / 4 - 4px);
  }

  /* サムネイル(大) */
  img.thumbnail.tile-l {
    width: calc(100vw / 3 - 4px);
  }
}

ons-button.itemRecycl {
  position: absolute;
  top: 10px;
  left: 100%;
  height: calc(100% - 10px);
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

ons-button.itemDelete,ons-button.itemArchive {
  position: absolute;
  top: 0px;
  left: 100%;
  height: 100%;
  background-color: red;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

ons-icon.itemRecyclIcon,ons-icon.itemDeleteIcon {
	position: absolute;
	top: 50%; /* 上から半分 */
	/* 要素の大きさの半分引く（CSS3） */
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
