.toolbar_back_color {
  background-color: #001e43;
}

.content_back_color {
  background-color: #fffee8;
}

.confmenu_back_color {
  background-color: #15202d;
}

.modal_back_color {
  background-color: lightgray;
}
